@model QAForum.Models.Thread

<h2>@ViewBag.Message;</h2>

<fieldset>
    <legend>Thread</legend>

    <div class="display-label">ThreadTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThreadTitle)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ThreadID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
