@model QAForum.Models.Forum

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Message</h2>

<fieldset>
    <legend>Forum</legend>

    <div class="display-label">ForumTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ForumTitle)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ForumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
